/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import "bootstrap";

 header {
   width: 100%;
   height: 600px;
   padding-top: 100px;
   background: url(asset-path('background2.jpg'));
   background-repeat: no-repeat;
   background-size: 1440px 600px;
   background-position: right;
 }

 body {
   width: 100%;
   height: 100%;
   font-family: 'Trebuchet MS', serif;
   line-height: 1.6
 }

 h1 {
   padding-top: 120px;
   padding-left: 150px;
   color: white;
   font-size: 70px;
   font-weight: 800;
 }

h2 {
  padding-left: 80px;
  color: white;
  font-size: 50px;
  font-weight: 800;
}

 ul, li, p {
 }

 .container {
   width: 800px;
   margin: 0 auto;
 }

 ul.tabs {
   margin: 0px;
   padding: 0px;
   list-style: none;
 }

 ul.tabs li {
   font-weight: bold;
   background: none;
   color: black;
   display: inline-block;
   padding: 10px 15px;
   cursor: pointer;
 }

 ul.tabs li.current {
   background: #E8E8E8;
   border: 2px solid purple;
   border-radius: 0 0 8px 8px;
   border-top: none;
   color: purple;
 }

 .tab-content {
   display: none;
   background-color: #E8E8E8;
   border: 2px solid purple;
   border-radius: 8px;
   color: purple;
   padding: 15px;
 }

.tab-content.current {
  display: inherit;
}

.price {
  color: white;
  font-weight: 500;
  background-color: purple;
  background-size: 200px 30px!important;
}

#tab {
  width: 100%;
  height: 600px;
  border: 2px solid purple;
  background: url(asset-path('culinaire1.jpeg'));
  background-repeat: no-repeat;
  background-size: 1440px 600px;
}

 #tab-1, #tab-3 {
   width: 700px;
 }

 #tab-2 {
   background-image: url(asset-path('culinaire.jpeg'));
   background-repeat: no-repeat;
   background-size: 1440px 320px;
 }

 #rphoto {
   text-align: center;
   padding: 10px;
 }

 #photo {
   width: 250px;
   height: 200px;
   border: 2px solid purple;
   border-radius: 8px;
 }

 footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: auto;
   padding-top: 15px;
   background-color: purple;
 }

// Carousel

section {
  width: 100%;
  height: 600px;
  background-image: url(asset-path('background3.jpeg'));
  background-repeat: no-repeat;
  background-size: 1440px 600px;
}

#carousel {
	width:255px;
	height:290px;
	margin:0 auto;
}

#slides {
	overflow:hidden;
	/* fix ie overflow issue */
	position:relative;
	width:250px;
	height:250px;
	border:1px solid #ccc;
}

/* remove the list styles, width : item width * total items */
#slides ul {
	position:relative;
	left:0;
	top:0;
	list-style:none;
	margin:0;
	padding:0;
	width:750px;
}

/* width of the item, in this case I put 250x250x gif */
#slides li {
	width:250px;
	height:250px;
	float:left;
}

#slides li img {
	padding:5px;
}

/* Styling for prev and next buttons */
#buttons {
	padding:0 0 5px 0;
	float:right;
}

#prev {
	display:block;
	width:31px;
	height:32px;
	text-indent:-999em;
	float:left;
	outline:0;
}

#next {
  display:block;
	width:31px;
	height:32px;
	text-indent:-999em;
	float:right;
	outline:0;
}

a#prev {
	background:url(arrowleft.png) 0 -31px no-repeat;
}

a#prev:hover {
	background:url(arrowleft.png) 0 0 no-repeat;
}

a#next {
	background:url(arrowright.png) -32px -31px no-repeat;
}

a#next:hover {
	background:url(arrowright.png) -32px 0 no-repeat;
}

.clear {clear:both}
